<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Botiya.Properties.Settings.BotiyaConnectionString"
            connectionString="Data Source=.;Initial Catalog=Botiya;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>